<head>
  <title>Todo List</title>

    <!-- GPU rasterisation -->
  <meta name="viewport" content="viewport-fit=cover,width=device-width,height=device-height,user-scalable=no">

  <!-- Favicons -->
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

  <!-- Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Love, love, love">

  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <!-- iPad with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon" sizes="152x152" href="images/icons/icon-apple-152x152.png">
  <!-- iPad with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon" sizes="144x144" href="images/icons/icon-apple-144x144.png">
  <!-- iPhone with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon" sizes="120x120" href="images/icons/icon-apple-120x120.png">
  <!-- iPhone with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon" sizes="114x114" href="images/icons/icon-apple-114x114.png">
  <!-- iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
  <link rel="apple-touch-icon" sizes="76x76" href="images/icons/icon-apple-76x76.png">
  <!-- iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
  <link rel="apple-touch-icon" sizes="72x72" href="images/icons/icon-apple-72x72.png">
  <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon" href="images/icons/icon-apple-72x72.png">

  <!-- iPhone SPLASHSCREEN -->
  <link href="images/splash/splash-apple-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
  <!-- iPhone (Retina) SPLASHSCREEN -->
  <link href="images/splash/splash-apple-640x920.png" media="(device-width: 320px) and (device-height: 460px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
  <!-- iPhone 5 (Retina) SPLASHSCREEN -->
  <link href="images/splash/splash-apple-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
  <!-- iPad (non-Retina) (Portrait) -->
  <link href="images/splash/splash-apple-768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" rel="apple-touch-startup-image" />
  <!-- iPad (non-Retina) (Landscape) -->
  <link href="images/splash/splash-apple-1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" rel="apple-touch-startup-image" />
  <!-- iPad (Retina) (Portrait) -->
  <link href="images/splash/splash-apple-1536x2008.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
  <!-- iPad (Retina) (Landscape) -->
  <link href="images/splash/splash-apple-2048x1496.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

  <!-- Windows phone -->
  <meta name="msapplication-TileImage" content="images/icons/icon-wp-144x144.png">
  <meta name="msapplication-TileColor" content="#2e2e49">

  <!-- Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <meta name="theme-color" content="#3b395e"/>

  <!-- Handle javascript disabled -->
  <noscript>
    <p>Please, enable JavaScript in your browser :)</p>
  </noscript>

    <!-- SW manifest -->
  <link rel="manifest" href="/manifest-pwa.json">

    <!-- App shell styles -->
  <link rel="stylesheet" type="text/css" href="/css/sanitize.css">
  <link rel="stylesheet" type="text/css" href="/css/basscss.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.css">
  <script src="/js/toast.js"></script>
  <script src="/js/offline.js"></script>


  
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css">
   <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>
  <!-- <script src="/js/menu.js"></script> -->
</head>
 
<body>

  <!-- Toast msg's -->
  <div class="fixed toast__container"></div>


 <div id="main"></div>
  
</body>