body {
  font-family: sans-serif;
  background-color: #ffffff;
  /*background-attachment: fixed;*/

  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}




h1 {
  font-size: 1.5em;
  margin: 0;
  /*margin-bottom: 10px;*/
  display: inline-block;
  margin-right: 1em;
}

input{
  display: none;;
}

a{
  text-decoration: none;
  /*opacity: 1 !important;*/
}

a,button{
  outline: none !important;
}

form {
  /*margin-top: 10px;*/
  /*margin-bottom: -10px;*/
  position: relative;
}

/*.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}*/

ul {
  margin: 0;
  padding: 0;
  /*background: white;*/
}

#main{
  background-color: #eee;
}

#login-buttons {
  display: block;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  /*padding: 15px;*/
  /*border-bottom: #eee solid 1px;*/
}

li .text {
  /*margin-left: 10px;*/
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    /*padding: 12px 15px;*/
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.toast__container {
  bottom: 20px;
  left: 20px;
  pointer-events: none;
}

.toast__msg {
  width: 250px;
  min-height: 50px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 10px;
  word-break: break-all;
  -webkit-transition: opacity 3s cubic-bezier(0, 0, 0.30, 1) 0;
  -webkit-transition: opacity 0.30s cubic-bezier(0, 0, 0.30, 1) 0;
  transition: opacity 0.30s cubic-bezier(0, 0, 0.30, 1) 0;
  text-transform: initial;
  margin-bottom: 10px;
  border-radius: 2px;
}

.toast__msg--hide {
  opacity: 0;
}

.leaflet-container{
  height:100%;
}

.start-map{
  height: 800px !important;
}

/*.pagination{

}

.pagination ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.pagination li {
    display: inline-block;
    cursor: pointer;
    width: 7%;
    text-align: center;
}

.pagination .break a {
    cursor: default;
}
.pagination .active {
    color: orange;
}*/

/*.swiper-pagination{
  background-color: white;
  left: 45%!important;
  width: 8%!important;
}*/

.swiper-slide-active{
  opacity: 1!important;
}

#zoomGallery .swiper-pagination-bullet,#mainGallery .swiper-pagination-bullet{
  cursor:pointer;
  width: 16px;
  height: 16px;
  background-color: white;
  opacity: 0.5;
  outline: none !important;
}

#zoomGallery .swiper-pagination-bullet-active,#mainGallery .swiper-pagination-bullet-active{
  opacity: 1;
}

#zoomGallery .swiper-pagination-bullets{
  top:10px!important;
  bottom: unset;
}

#menu-categorie ul{  
  width: 100%!important;
}
