/*
# BEM (BLOCK, ELEMENT, MODIFIER) METHEDOLOGY
<div class="card card--show">
  <div class="card__title"></div>
  <div class="card__container">
  </div>
</div>
.card - BLOCK
.card__title - ELEMENT
.card--show - MODIFIER
*/


/* RESET styles */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ul,
li {
  list-style: none;
  /*padding: 0;/**/
  /*margin: 0;*/
}

.no--select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* MAIN styles */

body {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

a {
  color: blue;
}

header {
  width: 100%;
  height: 56px;
  background-color: blue;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.app__offline {
  background-color: #6b6b6b;
}

.header__burger, .header__avatar {
  width: 48px;
  height: 48px;
  margin: 4px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.header__burger--show {
  visibility: visible;
  opacity: 1;
}

.header__burger:active {
  opacity: 0.8;
  outline: 1px solid #fff;
}

.header__title {
  color: #fff;
  font-size: 20px;
}

.menu {
  width: 200px;
  height: 100%;
  background: #fff;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.30, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  -webkit-transform: translateX(-110%);
  transform: translateX(-110%);
  will-change: transform;
}

.menu--show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu__overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
  transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
  visibility: hidden;
  opacity: 0;
}

.menu__overlay--show {
  visibility: visible;
  opacity: 1;
}

.menu__header {
  height: 150px;
  background: #1E88E5;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

.menu__list {
  width: inherit;
  height: inherit;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.menu__list li a {
  padding: 20px;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  display: block;
}

.menu__list li a:active,
.menu__list li a:hover {
  background: #e7e7e7;
}

.app__outer {
  min-height: calc(100vh - 56px); /* do not consider header height */
}

.app__container {
  max-width: 420px;
  min-height: 420px;
  width: 100%;
}

.toast__container {
  bottom: 20px;
  left: 20px;
  pointer-events: none;
}

.toast__msg {
  width: 250px;
  min-height: 50px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 10px;
  word-break: break-all;
  -webkit-transition: opacity 3s cubic-bezier(0, 0, 0.30, 1) 0;
  -webkit-transition: opacity 0.30s cubic-bezier(0, 0, 0.30, 1) 0;
  transition: opacity 0.30s cubic-bezier(0, 0, 0.30, 1) 0;
  text-transform: initial;
  margin-bottom: 10px;
  border-radius: 2px;
}

.toast__msg--hide {
  opacity: 0;
}
